/*##########################################
####               GENERAL              ####
###########################################*/

html {
  background-color: #b7d5d9;
  color: #4d4d4d;
  font-family: Trebuchet MS, sans-serif;
  text-rendering: optimizeLegibility;
	border: 5px;
	padding: 20px;
	height: 100%;
	width: 100%;
}

.home-page {
	width: 50%;
	height: 100%;
	text-align: center;
	margin: auto;
}

/*##########################################
####             NAVIGATION             ####
###########################################*/

.navigation {
		border-bottom: 1px solid black;
}

.navigation span:nth-child(n+2) {
	padding-left: 5em;
}

.navigation .dropdown span {
  padding-left: 4em;
}

.navigation i {
  transition: opacity 0.25s;
}

.navigation i:hover {
  opacity: 0.4;
}

.navigation img {
  width: 15em;
  height: 5em;
  position: absolute;
  top: 0;
  left: 53%;
  transform: translate(-50%, 0);
}

.navigation-text {
  padding: 0 10px;
}

#home-text {
  padding-left: 10px;
}

.menu-items {
  padding-top: 4em;
}

.icon {
  opacity: 0.7;
	font-size: 5em;
	color: #000000;
	cursor: pointer;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content {
  margin-left: 4em;
	display: none;
	position: absolute;
	background-color: #ddebee;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  cursor: pointer;
}

.dropdown-content a {
	padding: 12px 25px;
	color: #4d4d4d;
	display: block;
}

.dropdown-content a:hover {
	background-color: #b7d5d9;

}

.dropdown:hover .dropdown-content {
	display: block;
}

.articleBox {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
	background-color: #dae9eb;
	border: 15px;
	border-color: white;
	border-radius: 0px 15px 15px 15px;
	padding: 5px 20px 20px 20px;
	margin: 20px;
  margin-top: 7em;
  float: left;
  height: 25em;
  overflow-y: scroll;
}

.article {
  height: 125px;
  border-bottom: 1px solid #000000;
  margin-top: 20px;
  cursor: pointer;
  width: 35em;
  transition: opacity 0.3s;
  z-index: 0px;
}

.article:hover {
  opacity: 0.6;
}

.thumbnail {
  float: left;
  width: 6em;
  height: 6em;
}

.article-description {
  float: right;
  text-align: left;
  width: 80%;
  margin-left: 10px;
}

.article-description h2 {
  margin: 0;
  font-size: 18px;
}

.article-description p {
  font-size: 14px;
}

#titleDiv {
	padding: 30px;
	text-align: center;
}

#titleMed {
	color: #355f64;
	display: inline-block;
}

#titleLite {
	color: white;
	display: inline-block;
}

.profile-panel {
  width: 100%;
  height: 2em;
}

.profile-panel img {
  width: 7.5em;
  height: 7.5em;
  float: left;
  padding-top: 2em;
  padding-left: 5em;
}

.profile-panel div {
  float: right;
  padding-top: 2.5em;
  padding-right: 9em;
}

.bookmarkAdd {
  width: 30px !important;
  height: 30px !important;
  /*position: absolute;
  top: 0px;
  right: 0px;*/
  float: right;
}

.bookmarAdd:hover {
  background-color: black;
}

.photoBox {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
	background-color: #dae9eb;
	border: 15px;
	border-color: white;
	border-radius: 0px 15px 15px 15px;
	padding: 5px 20px 20px 20px;
	margin: 20px;
  float: left;
  height: 25em;
  overflow-y: scroll;
  margin-top: 12em;
}

.photo {
  height: 11em;
  border-bottom: 1px solid #000000;
  margin-top: 20px;
  width: 35em;
  transition: opacity 0.3s;
  z-index: 0px;
  cursor: pointer;
}

.photo:hover {
  opacity: 0.6;
}

.photo img {
  width: 10em;
  height: 10em;
  float: left;
}

.photo h2 {
  padding-top: 2em;
}

.trash-icon {
  font-size: 3em;
  text-align: right;
  cursor: pointer;
}

.click {
  cursor: pointer;
}

#bookmark-inline {
  width: 1em;
  height: 1em;
}

#empty-message {
  margin-top: 3em;
}
